- unless browser.mobile?
	#home_video style="position: absolute;"
  	video#home_video_element.col-md-12 poster=image_path("home/homepage_video_poster.jpg") loop="" preload="auto"
    	source#mp4Source src="" type="video/mp4" data-source=video_path("homepage_video.mp4")
